html {
  background-color: #151515;
}

main {
  margin: auto;
  width: 50%;
  padding: 10px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  color: #FFDEAD;
}

h2 {
  color: #FF6347;
}

p {
  color: #FFDEAD;
}

ul,
ol {
  color: #FFDEAD;
}

a {
  color: #FFD700;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
